<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<title>DIGISENIOR</title>
		<link rel="stylesheet" href="../stylesheets/principal.scss">
		<div class="head">
			<div id="logo" class="column_1x3 logo">
                <%= image_tag("logo_digisenior.jpg")%>
          	</div>
			<div class="column_1x3"></div>
			<div class=column_1x3></div>
		</div>
	</head>
	<body>
		<div class="column_1x1">
				<p>Página inicial</p>
		</div>
		<div class="column_1x1">
			<div class="column_1x5"></div>
			<div class="column_1x5 img">
				<a href="./registro/registro.html">Registrarse</a>
				<%# <%= image_tag("cuidador.png")%> 
			</div>
			<div class="column_1x5 img">
				<%= image_tag("senior.png")%>
			</div>
			<div class="column_1x5 img">
				<%= image_tag("admon.png")%>
			</div>
			<div class="column_1x5"></div>
		</div>
	</body>
	<footer>
		<div id="footer">
				<a>Comuniquese con nosotros</a>
		</div>
	</footer>
</html>

