<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<title>DIGISENIOR</title>
		<link rel="stylesheet" href="../stylesheets/principal.scss">
		<div class="head">
			<div id="logo" class="column_1x3 logo">
                <%= image_tag("logo_digisenior.jpg")%>
          	</div>
			<div class="column_1x3"></div>
			<div class=column_1x3></div>
		</div>
	</head>
	<body>
		<div class="column_1x1">
				<p>Página registro</p>
		</div>
		<div class="column_1x1">
        <div class="column_1x3"></div>
            <div>
                <label>Correo electrónico</label>
            </div>
        <div class="column_1x3"></div>
        <div class="column_1x3"></div>
		</div>
	</body>
	<footer>
		<div id="footer">
				<a>Aqui estamos probando el registro</a>
		</div>
	</footer>
</html>

